<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
	<body>
	<div class="d-flex">
		<div class="bg-container1">
			<div class="m-auto">
				<i class="fa-solid fa-user icon"></i>
			</div>
			<div>
				<span></span>
			</div>
			<div>
				<span></span>
			</div>
			
			
		</div>
		<div class="bg-container2 d-flex flex-column">
			<h1 class="heading">Welcome to event management system</h1>
			<div class="tranding">
				<h2 class="head">Trending Events</h2>
				<section>
					<div class="container">
					  <div class="swiper tranding-slider">
						<div class="swiper-wrapper">
						  <div class="swiper-slide tranding-slide">
							<div class="tranding-slide-img">
							  <img src="https://www.palaisdesfestivals.com/app/uploads/cannes-palais/2023/08/thumbs/Concert-a-Cannes-clinka-production-yann-macherez-640x320.jpg" alt="cultural" class="image">
							</div>
							<div class="text-center">
								<button class="btn btn-primary button"><a class="anchor" href="#culturals">View More</a></button>
							</div>
						  </div>
						  <div class="swiper-slide tranding-slide">
							<div class="tranding-slide-img">
							  <img src="https://media.licdn.com/dms/image/D560BAQHU2ld_860S3A/company-logo_200_200/0/1715153817877/src_rgukt_rkvalley_logo?e=2147483647&v=beta&t=IpUypZMnGlFo1oGfN95ZsR_zJQXkcFKOYQg0B-CnQQ4" alt="src">
							</div>
							<div class="text-center">
								<button class="btn btn-primary button"><a class="anchor" href="#src">View More</a></button>
							</div>
						  </div>
						   <div class="swiper-slide tranding-slide">
							<div class="tranding-slide-img">
							  <img src="https://media.istockphoto.com/id/1499670337/photo/diverse-audience-listening-closely-to-lively-panel-discussion-at-tech-conference.webp?b=1&s=170667a&w=0&k=20&c=RS1y4Yn3ko5SwWokmLDoMxXUuSiD53t3CluUI-2p4n8=" alt="technical" class="image">
							</div>
							<div class="text-center">
								<button class="btn btn-primary button"><a class="anchor" href="#technical">View More</a></button>
							</div>
						  </div>
						  <div class="swiper-slide tranding-slide">
							<div class="tranding-slide-img">
							  <img src="https://www.shutterstock.com/image-photo/sport-winners-collage-professional-athletes-600nw-2257626679.jpg" alt="sports" class="image">
							</div>
							<div class="text-center">
								<button class="btn btn-primary button"><a class="anchor" href="#sports">View More</a></button>
							</div>
						  </div>
						</div>
						<div class="tranding-slider-control">
						  <div class="swiper-button-prev slider-arrow">
							<i class="fa-solid fa-arrow-left left"></i>
						  </div>
						  <div class="swiper-button-next slider-arrow">
							<i class="fa-solid fa-arrow-right right"></i>
						  </div>
						  <div class="swiper-pagination"></div>
						</div>
					  </div>
					</div>
				</section>
			</div>
			<div id="culturals">
				<h2 class="head">Culturals</h2>
				<div class="container">
					<div class="card__container swiper">
						   <div class="card__content">
							  <div class="swiper-wrapper">
								<div class="card__article swiper-slide">
									<div class="card__image">
										<img src="https://img.freepik.com/free-vector/silhouettes-people-dancing-grunge-background_1048-14576.jpg?t=st=1721552971~exp=1721556571~hmac=80eed58216b493eeee978d5311cc62a0902af0099fd4040a1bd7a0c110587c97&w=740" alt="image" class="card__img">
										<div class="card__shadow"></div>
									</div>
									<div class="card__data scroll-container">
										<h3 class="card__name">Dancing</h3>	
										<p class="card__description">
											Dance expresses joy, culture, and emotion through movement, rhythm, and grace, uniting individuals in shared moments of artistic expression.
										</p>
										<a class="card__button" onclick="event_page(this.id)" id="Dance">Register</a>
									</div>
								</div>
								<div class="card__article swiper-slide">
									<div class="card__image">
									   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAQXFRTNVqEBBCEQPLaIUoN8c2Jl3TSyKOoA&s" alt="image" class="card__img">
									   <div class="card__shadow"></div>
									</div>
									<div class="card__data scroll-container">
										   <h3 class="card__name">Singing</h3>
										   <p class="card__description">
											Singing resonates emotions, stories, and cultures through melody and lyrics, touching hearts with its power to convey passion, joy, and longing.
										   </p>
										<a href="#" class="card__button" onclick="event_page(this.id)" id="Singing">Register</a>
									</div>
								</div>
								<div class="card__article swiper-slide">
									<div class="card__image">
									   <img src="https://qph.cf2.quoracdn.net/main-qimg-685a70fd0d3bd5178538e326e4052ea3-lq" alt="image" class="card__img">
									   <div class="card__shadow"></div>
									</div>
									<div class="card__data scroll-container">
										<h3 class="card__name">Skits</h3>
										<p class="card__description">
											Skits entertain through short, humorous or dramatic performances, often conveying a message or story in a compact, engaging format.
										</p>
										<a href="#" class="card__button" onclick="event_page(this.id)" id="Skits">Register</a>
									</div>
								</div>
								<div class="card__article swiper-slide">
									<div class="card__image">
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS89M8GpWuzB7vQ35re5vn94N7axEssLDXbdg&s" alt="image" class="card__img">
										<div class="card__shadow"></div>
									</div>
									<div class="card__data scroll-container">
										<h3 class="card__name">Anchoring</h3>
										<p class="card__description">
											Anchoring involves guiding and presenting content in various media forms, ensuring clarity, engagement, and professionalism to effectively inform and captivate audiences.
										</p>
										<a href="#" class="card__button" onclick="event_page(this.id)" id="Anchoring">Register</a>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-button-next">
							<i class="ri-arrow-right-s-line"></i>
						</div>
						<div class="swiper-button-prev">
							<i class="ri-arrow-left-s-line"></i>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<div id="src">
				<h2 class="head">SRC Events</h2>
				<div class="container">
					<div class="card__container swiper">
						<div class="card__content">
							<div class="swiper-wrapper">
							   <div class="card__article swiper-slide">
									<div class="card__image">
										<img src="https://techcommunity.microsoft.com/t5/image/serverpage/image-id/366577i4F851B60F8347ED4/image-size/original?v=v2&px=-1" alt="image" class="card__img">
										   <div class="card__shadow"></div>
									</div>
									<div class="card__data scroll-container">
										<h3 class="card__name">Hackathon</h3>	
										<p class="card__description">
											Hackathons are collaborative events where participants innovate, prototype, and solve problems creatively within a set timeframe, fostering learning, teamwork, and innovation.
										</p>
										<a href="#" class="card__button" id="hackathon">Register</a>
									</div>
								</div>
								<div class="card__article swiper-slide">
									<div class="card__image">
									   <img src="https://www.cvent.com/sites/default/files/image/2022-02/webinars_news_0.jpg" alt="image" class="card__img">
									   <div class="card__shadow"></div>
									</div>
									<div class="card__data scroll-container">
										<h3 class="card__name">Webinar</h3>
										<p class="card__description">
											Webinars are online seminars that educate, engage, and connect participants worldwide, covering diverse topics through presentations, discussions, and interactive sessions.
										</p>
										<a href="#" class="card__button" onclick="event_page(this.id)" id="Webinar">Register</a>
									</div>
								</div>
								<div class="card__article swiper-slide">
									<div class="card__image">
										<img src="https://www.cibafi.org/Files/L1/Content/CI1132-tech.jpg" alt="image" class="card__img">
										<div class="card__shadow"></div>
									</div>
									<div class="card__data scroll-container">
										<h3 class="card__name">Workshop</h3>
										<p class="card__description">
											Workshops in Computer Science & Engineering impart practical skills, foster collaboration, and explore emerging technologies, enhancing professional development and innovation.
										</p>
										<a href="#" class="card__button" onclick="event_page(this.id)" id="Workshop">Register</a>
									</div>
								</div>
							</div>
						</div>
					<div class="swiper-button-next">
						<i class="ri-arrow-right-s-line"></i>
					</div>
					<div class="swiper-button-prev">
						<i class="ri-arrow-left-s-line"></i>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div id="technical">
				<h2 class="head">Technical Events</h2>
				<div class="container">
					<div class="card__container swiper">
					   <div class="card__content">
						  <div class="swiper-wrapper">
							 <div class="card__article swiper-slide">
								<div class="card__image">
								   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTel7qqxRC5P6sA8oYCHe0mk85poQesSXKR8w&s" alt="image" class="card__img">
									<div class="card__shadow"></div>
								</div>
								<div class="card__data scroll-container">
									<h3 class="card__name">AI</h3>	
									<p class="card__description">
										AI, or artificial intelligence, involves creating machines capable of performing tasks that typically require human intelligence, like learning, reasoning, and problem-solving.
									</p>
									<a href="#" class="card__button" onclick="event_page(this.id)" id="AI">Register</a>
								</div>
							</div>
							<div class="card__article swiper-slide">
								<div class="card__image">
								   <img src="https://theicttrends.com/wp-content/uploads/2023/01/4-Pillars-of-Cloud-Computing-1.jpg" alt="image" class="card__img">
								   <div class="card__shadow"></div>
								</div>
								<div class="card__data scroll-container">
									<h3 class="card__name">Cloud Computing</h3>
									<p class="card__description">
										Cloud computing allows access to computing resources like servers and storage over the internet, providing scalability, flexibility, and cost-efficiency for businesses.
									</p>
									<a href="#" class="card__button" onclick="event_page(this.id)" id="Cloud Computing">Register</a>
								</div>
							</div>
							<div class="card__article swiper-slide font-family:"roboto";">
								<div class="card__image">
								   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5n1n8k2sVUOnOcrmNvPkXalSrqVZMZjVhBw&s" alt="image" class="card__img">
								   <div class="card__shadow"></div>
								</div>
								<div class="card__data scroll-container">
								   <h3 class="card__name">Cyber Security</h3>
								   <p class="card__description">
										Cybersecurity protects digital systems, networks, and data from unauthorized access, cyber attacks, and threats, ensuring confidentiality, integrity, and availability.
								   </p>
								   <a href="#" class="card__button" onclick="event_page(this.id)" id="Cyber Security">Register</a>
								</div>
							</div>	
							<div class="card__article swiper-slide">
								<div class="card__image">
								   <img src="https://st3.depositphotos.com/1026266/33596/i/450/depositphotos_335962536-stock-photo-finger-touching-tablet-with-web.jpg" alt="image" class="card__img">
								   <div class="card__shadow"></div>
								</div>
								<div class="card__data scroll-container">
									<h3 class="card__name">ML</h3>
									<p class="card__description">
										Machine Learning (ML) enables computers to learn and improve from experience without explicit programming, using algorithms to analyze data and make decisions autonomously
									</p>
									<a href="#" class="card__button" onclick="event_page(this.id)" id="Machine Learning">Register</a>
								</div>
							</div>
						 </div>
					</div>
					<div class="swiper-button-next">
						<i class="ri-arrow-right-s-line"></i>
					</div>
					<div class="swiper-button-prev">
						<i class="ri-arrow-left-s-line"></i>
					</div>
					<div class="swiper-pagination"></div>
				</div>	   
			</div>
			<div id="sports">
				<h2 class="head">Sports</h2>
				<div class="container">
					<div class="card__container swiper">
						   <div class="card__content">
							  <div class="swiper-wrapper">
								<div class="card__article swiper-slide">
									<div class="card__image">
										   <img src="https://t4.ftcdn.net/jpg/05/10/78/99/240_F_510789949_IJJ9qEEWYTfMlyB6kzpuitWj4T47Z4iX.jpg" alt="image" class="card__img">
										   <div class="card__shadow"></div>
									</div>
									<div class="card__data scroll-container">
										<h3 class="card__name">Cricket</h3>	
										<p class="card__description">
											Cricket is a popular sport played globally, involving bat, ball, and field, blending strategy, athleticism, and passion in competitive matches.
										</p>
										<a href="#" class="card__button" onclick="event_page(this.id)" id="Cricket">Register</a>
									</div>
								</div>
								 <div class="card__article swiper-slide">
									<div class="card__image">
										   <img src="https://static.owayo-cdn.com/newhp/img/magazin/basketballrules/basketball-rules-670px.jpg" alt="image" class="card__img">
									   <div class="card__shadow"></div>
								</div>
								<div class="card__data scroll-container">
									<h3 class="card__name">Basket ball</h3>
									<p class="card__description">
										Basketball is a fast-paced sport played with teams of five, aiming to score points by shooting a ball through a hoop.
									</p>
									<a href="#" class="card__button" onclick="event_page(this.id)" id="Basket Ball">Register</a>
								</div>
							</div>
							<div class="card__article swiper-slide">
								<div class="card__image">
									<img src="https://cdn.firstcry.com/education/2022/05/04111910/522565846.jpg" alt="image" class="card__img">
									<div class="card__shadow"></div>
								</div>
								<div class="card__data scroll-container">
									<h3 class="card__name">Foot ball</h3>
									<p class="card__description">
										 Football, a globally beloved sport, involves two teams competing to score goals by maneuvering a ball using feet or head.
									</p>
									<a href="#" class="card__button" onclick="event_page(this.id)" id="Foot Ball">Register</a>
								</div>
							</div>
							<div class="card__article swiper-slide">
								<div class="card__image">
									<img src="https://i.ytimg.com/vi/ExmCVRAsn3I/sddefault.jpg" alt="image" class="card__img">
									<div class="card__shadow"></div>
								</div>
								<div class="card__data scroll-container">
									<h3 class="card__name">Kabaddi</h3>
									<p class="card__description">
										Kabaddi is a traditional sport originating from South Asia, featuring two teams competing to tag opponents while chanting kabaddi.
									</p>
									<a href="#" class="card__button" onclick="event_page(this.id)" id="Kabaddi">Register</a>
								</div>
							</div>
							<div class="card__article swiper-slide">
								<div class="card__image">
									<img src="https://images.moneycontrol.com/static-mcnews/2023/09/Clash-with-BAI-770x433.jpg?impolicy=website&width=770&height=431" alt="image" class="card__img">
									<div class="card__shadow"></div>
								</div>
								<div class="card__data scroll-container">
									<h3 class="card__name">Batminton</h3>
									<p class="card__description">
										 Badminton is a racquet sport played indoors or outdoors, involving a shuttlecock and players volleying it over a net to score points.
									</p>
									<a href="#" class="card__button" onclick="event_page(this.id)" id="Batminton">Register</a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-button-next">
						<i class="ri-arrow-right-s-line"></i>
					</div>
					<div class="swiper-button-prev">
						<i class="ri-arrow-left-s-line"></i>
					</div>
					<div class="swiper-pagination"></div>
				</div>	
			</div> 
			<div class="text-center">
				<h1 class="mb-5">Co-ordinators</h1>
			</div>
			<div class="owl-carousel testimonial-carousel position-relative">
				<div id="carouselTestimonial" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
					    <div class="carousel-item active">
						    <div class="testimonial-item text-center">
							    <img class="border rounded-circle p-2 mx-auto mb-3" src="images/geetha.png" style="width: 80px; height: 80px;">
							    <h5 class="mb-0 txt">Geetha Reddy</h5>
								<p class="p mt-0">Cultural Coordinator</p>
							</div>
						</div>
					    <div class="carousel-item">
							<div class="testimonial-item text-center">
								<img class="border rounded-circle p-2 mx-auto mb-3" src="images/harsha.png" style="width: 80px; height: 80px;">
								<h5 class="mb-0 txt">Harsha Vardhan</h5>
								<p class="p mt-0">Technical Coordinator</p>
							</div>
						</div>
					  	<div class="carousel-item">
							<div class="testimonial-item text-center">
								<img class="border rounded-circle p-2 mx-auto mb-3" src="images/pallavi.png" style="width: 80px; height: 80px;">
								<h5 class="mb-0 txt">Pallavi</h5>
								<p class="p mt-0">SRC Coordinator</p>
							</div>
					    </div>
					    <div class="carousel-item">
							<div class="testimonial-item text-center">
								<img class="border rounded-circle p-2 mx-auto mb-3" src="images/tharun.jpeg" style="width: 80px; height: 80px;">
								<h5 class="mb-0 txt">Tharun</h5>
								<p class="p mt-0">Sports Coordinator</p>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function event_page(id) {
			switch(id) {
				case 'Dance':
					window.location.href = 'event-registration1.html?id=Dance&number=5&category=Culturals';
					break;
				case 'Singing':
					window.location.href = 'event-registration1.html?id=Singing&number=1&category=Culturals';
					break;
				case 'Skits':
					window.location.href = 'event-registration1.html?id=Skits&number=5&category=Culturals';
					break;
				case 'Anchoring':
					window.location.href = 'event-registration1.html?id=Anchoring&number=2&category=Culturals';
					break;
				case 'Hackathon':
					window.location.href = 'event-registration1.html?id=Hackathon&number=4&category=src';
					break;
				case 'Webinar':
					window.location.href = 'event-registration1.html?id=Webinar&number=1&category=src';
					break;
				case 'Workshop':
					window.location.href = 'event-registration1.html?id=Workshop&number=1&category=src';
					break;
				case 'Artificial Intelligence':
					window.location.href = 'event-registration1.html?id=Artificial Intelligence&number=1&category=technical';
					break;
				case 'cloud Computing':
					window.location.href = 'event-registration1.html?id=Cloud Computing&number=1&category=technical';
					break;
				case 'Cyber Security':
					window.location.href = 'event-registration1.html?id=Cyber Security&number=1&category=technical';
					break;
				case 'Machine Learning':
					window.location.href = 'event-registration1.html?id=Machine Learning&number=1&category=technical';
					break;
				case 'Cricket':
					window.location.href = 'event-registration1.html?id=Cricket&number=11&category=sports';
					break;
				case 'Basket Ball':
					window.location.href = 'event-registration1.html?id=Basket Ball&number=5&category=sports';
					break;
				case 'Foot Ball':
					window.location.href = 'event-registration1.html?id=Foot Ball&number=11&category=sports';
					break;
				case 'Kabaddi':
					window.location.href = 'event-registration1.html?id=Kabaddi&number=7&category=sports';
					break;
				case 'Batminton':
					window.location.href = 'event-registration1.html?id=Batminton&number=2&category=sports';
					break;
				default:
					console.log('No redirect defined for this element ID');
			}
		}
	
		document.addEventListener('DOMContentLoaded', function() {
			var elements = document.querySelectorAll('.clickable-element');
			elements.forEach(function(element) {
				element.addEventListener('click', function(event) {
					var clickedElementId = event.target.id;
					event_page(clickedElementId);
				});
			});
		});
	</script>
	<script src="assets/js/swiper-bundle.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="https://kit.fontawesome.com/df68bedbe1.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
</body>
</html>
